html
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.header{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100px;

}
.headerTitle{
    width: 100%;
    height: 70px;
    background-color: rgb(202, 202, 214);
    margin-left: 10px;
}
.headerRightBar{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    margin-left:100px;
    width: 100%;
}
.headerRightBtn{
    background-color: blueviolet;
    padding-left: 60px;
    padding-right: 60px;
    height: 30px;
    border: solid blanchedalmond;

}
.sidebar{
    background-color: rgb(216, 154, 154);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100%;
    
    }
.sideItem{
    background-color: rgb(131, 215, 6);
    margin-top: 10px;
    padding: 20px;

}
.container{
    background-color: brown;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.sideBtn{
    background-color: rgb(119, 93, 225);
    display: flex;
    flex-direction: column-reverse;
    width:calc(100%-200px);
    height: calc(100% - 500px);
    /* align-items: end; */
    justify-content: end;
    padding-bottom: 40px;
}
.sideBtnItem{
    background-color: aquamarine;
    padding: 20px;

}
.sidebox{
    height: 500px;
}