html
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

}
.header{
    background-color: brown;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    width: 100vw;

}
.container{
    width: 100wh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 20px);
}
.headerTitle{
    background-color: rgb(108, 108, 192);
    width: 200px;
    margin-left: 50px;
    
    
}
.rightbutton{
    padding-left: 20px;
    padding-right: 30px;
    background-color: rgb(236, 66, 19);
    border: 3px solid rgb(98, 176, 97);
    
    
}
.headerContainerBar{
    background-color: blue;
    display: flex;
    flex-direction:  row-reverse;
    margin-right: 100px;
    width: calc(100% - 200px);
    
}
.center{
    height: 100%;
    background-color: black;
    width: 200px;
}

.rightcontainer{
    background-color: bisque;
    height: 100%;
    width: 100vw;
}
.sidebar{
    background-color: rgb(15, 182, 182);
    display: flex;
    flex-direction: column;
    height: calc(100vw - 70px);
    width: 500px;
    align-items: center;
}
.itemTitle{
    background-color: blueviolet;
    padding: 10px 10px;
    margin-top: 10px;
}
.itembutton{
    padding: 20px;
    background-color: rgb(98, 176, 97);
    margin-top: 10px;
}