html body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.Header{
    background-color: rgb(142, 142, 197);
    display: flex;
    width: 100vw;
    height: 100px;
}
.HeaderBar{
    background-color: orange;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    padding: 20px;
    margin: 10px;
    width: calc(100% - 100px);

}
.HeaderTitle{
    background-color: aqua;
    margin: 30px;
    padding: 20px;
    
    
}
.HeaderItem{
    background-color: rgb(25, 235, 151);
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    padding: 10px;

    
}
.container{
     height: 100%;
      width: calc(100vw - 130px);
      background-color: rgb(234, 18, 11);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
    
}
.centerItem{
 width: 250px;
      height: 150px;
      margin-right: 10px;
      margin-top: 10px;
      margin-left: 10px;
      background-color: rgb(12, 18, 135);
      display: flex;
      flex-direction: row;
      align-items: center;
}
.centerImg{
     margin-left: 10px;
      width: 100px;
      height: 100px;
      background-color: rgb(218, 174, 174);
}
.centerText{
     width: calc(250px - 120px);
      padding-left: 10px;
      background-color: blueviolet;
}
.ContainerSide{
    background-color: purple;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    align-items: center;
}
.sidebar{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.sideitem{
    background-color: rgb(156, 197, 156);
    margin-top: 10px;
    padding: 10px;
   flex-direction: column;
   display: flex;
   justify-content: end;
}
.siderBottom{
    background-color: teal;
    display: flex;
    flex-direction: column;
    padding: 10px;

    

    

}
.siderBottomItem{
background-color: darkgoldenrod;
padding: 20px 0px;
}
   
    
