html,
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}
.container{
    background-color: brown;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 300vw;
}
.sidebar{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    height: calc(500%-30px);
    width: 500px;

}
.header{
    height: 30px;
    background-color: blue;
    width: 100%;
}